*{
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100%;
    height: 200px;
    background: gray;
    min-width: 1280px;
} 

.article{
    width: 1280px;
    height: 688px;
    background: red;
    margin: 0 auto;
}