*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html, body{
    height: 100%;
}

.clear{clear: both;}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-image: url(../images/capa.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 90vh;
    min-height: 200px;
    padding: 0 2%;
}

.logo{
    background-image: url(../images/og-img-removebg-preview.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
    float: left;
}

nav.mobile-menu{
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../images/menu.png);
    background-size: 100%;
}

nav.desktop-menu{
    float: right;
    margin-top: 20px;
}

.desktop-menu ul{
    list-style-type: none;
}

.desktop-menu ul li{
    float: left;
}

.desktop-menu ul a{
    color: white;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
}

.chamada-1{
    max-width: 600px;
    color: white;
    float: right;
    margin-top: 140px;
    margin-right: 100px;
}

.chamada-1 h1{
    font-weight: 600;
    font-size: 45px;
}

.chamada-1 p{
    margin-top: 10px;
}

section.sessao-1{
    background-color: #4d2b68;
    width: 100%;
    height: 400px;
}

section.sessao-1 .container{
    max-width: 1000px;
}

.text-list{
    color: white;
    width: 50%;
    float: left;
    position: relative;
    top: 30px;
    left: 90px;
}

.text-list h1{
    font-size: 35px;
    font-weight: 400;
}

.text-list p{
    font-size: 18px;
    margin-top: 10px;
}

.text-list ul{
    margin-top: 20px;
    list-style-position: inside;
}

.text-list li{
    margin-bottom: 5px;
}

.text-list input[type=submit]{
    display: inline-block;
    background-color: #ff7c38;
    height: 44px;
    width: 140px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    line-height: 44px;
    border: 0;
    cursor: pointer;
    margin-top: 10px;
}

.device{
    background-image: url(../images/device.png);
    float: left;
    width: 50%;
    height: 430px;
    background-size: 100% 100%;
    position: relative;
    top: -30px;
    background-repeat: no-repeat;
}

.sessao-2{
    text-align: center;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
}

.sessao-2 .container h1{
    font-weight: 500;
    color: #4d2b68;
}

.sessao-2 .container p{
    color: #4d2b68;
    display: inline-block;
    max-width: 900px;
    margin-top: 20px;
}

.sessao-2 img{
    max-width: 900px;
    width: 100%;
    margin-top: 40px;
}

@media screen and (max-width: 910px) {
    section.sessao-1{
        height: auto;
    }

    section.sessao-1 .container{
        text-align: center;
    }

    .text-list{
        display: inline-block;
        width: 100%;
        float: none;
        position: static;
        padding: 40px 4%;
    }

    .text-list ul{
        text-align: left;
        display: inline-block;
    }

    .device{
        display: none;
    }

    .sessao-2{
        padding: 40px 2%;
    }
}

@media screen and (max-width: 680px){
    header{
        height: auto;
    }

    nav.desktop-menu{
        display: none;
    }

    nav.mobile-menu{
        display: block;
        float: right;
        margin-top: 20px;
        cursor: pointer;
    }

    nav.mobile-menu:hover ul{
        display: block;
    }

    nav.mobile-menu ul{
        display: none;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        top: 60px;
        list-style-type: none;
        text-align: center;
    }

    nav.mobile-menu ul li{
        border-bottom: 1px solid black;
        padding: 8px 0;
    }

    nav.mobile-menu ul li a{
        font-size: 20px;
        font-weight: 600;
        color: black;
        text-decoration: none;
    }

    .chamada-1{
        width: 100%;
        display: inline-block;
        float: none;
        padding: 0;
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: center;
        margin-right: 0;
    }
    
    .chamada-1 h1{
        font-weight: 600;
        font-size: 30px;
    }
    
    .chamada-1 p{
        font-size: 18px;
        margin-top: 10px;
    }
}